table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
}

thead {
  background-color: #cacaca;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

td {
  font-size: 14px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #da6200;
  color:#fff;
}
th{
  background-color: #000;
  color:#fff;
}
tr:hover {
  background-color: #ddd;
}
