<!--
<h1>Day 2</h1>
<app-comp1></app-comp1>

<hr/>
<h1>Day 3</h1>
<div class="parent">
  <h1>Parent</h1>
  <app-home class="child" [msgFromParent]="dataFromChild"></app-home>
  <app-login class="child" (myEvent)="getData($event)"></app-login>
  <h1>{{dataFromChild}}</h1>
</div> -->

<!-- Day 4 -->
<!-- <h1 class="alert alert-danger">hi</h1> -->
<!-- <app-validation></app-validation> -->

<!-- Routing -->
<!-- <app-header></app-header>

<div class="alert alert-dark w-75 text-center fw-bold m-auto">
    <router-outlet></router-outlet>
</div> -->


<!-- Task -->
<app-header2></app-header2>
<router-outlet></router-outlet>
