.form{
  display:flex;
  flex-direction: column;
  width: 50%;
  margin:auto;
}
.form input{
  height: 30px;
  border-radius: 5px;
  border:none;
  border:1px solid #000;
}
.form div{
  color:red;
}
.form button{
  width:80%;
  margin:auto;
  height: 50px;
  font-weight: bold;
}
.form button:hover{
  background-color:azure;
  border:1px solid green;
}
.form button:active{
  background-color: green;
  color:#fff;
}
